.navbar {
  background-color: #3c8dbc !important;
}
.navbar a {
  color: white;
  font-weight: bolder;
}

.sidebar {
  width: 20%;
  height: 91vh;
  position: fixed;
  padding: 0px;
  background-color: #1e282c !important;
}
.sidebar a {
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 300;
  padding: 15px 10px;
  text-decoration: none;
  color: #eef4ed;
}
.sidebar a:hover {
  background-color: #171e21 !important;
  color: white;
}
.sidebar a:focus {
  outline: none !important;
  text-decoration: none;
}
.selected {
  background-color: #171e21 !important;
  color: white !important;
}
.main-page {
  margin-left: 20%;
  width: 60%;
}
.nav-item button {
  color: white;
  border-color: white;
}
