{% extends 'placement/base.html' %} {% block content %}
<div class="p-3">
  <div class="d-flex align-items-center justify-content-between mb-4">
    <h3>Your Profile</h3>
    <a href="{% url 'edit-profile' %}" class="nav-link">
      <button class="btn btn-primary px-3" style="height: 40px">
        Edit Profile
      </button>
    </a>
  </div>
  <div style="display: flex; justify-content: space-between">
    <div class="card mr-2 mb-2" style="width: 30rem">
      <div class="card-body">
        <h5 class="card-title">My Details</h5>
        <div class="row">
          <table>
            <tr>
              <td class="left-detail">Roll Number :</td>
              <td class="right-detail">123456789</td>
            </tr>
            <tr>
              <td class="left-detail">Name :</td>
              <td class="right-detail">John Doe</td>
            </tr>
            <tr>
              <td class="left-detail">Branch :</td>
              <td class="right-detail">Computer Science</td>
            </tr>
            <tr>
              <td class="left-detail">Year :</td>
              <td class="right-detail">3rd</td>
            </tr>
            <tr>
              <td class="left-detail">CGPA :</td>
              <td class="right-detail">8.5</td>
            </tr>
            <tr>
              <td class="left-detail">Backlogs :</td>
              <td class="right-detail">0</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="card mr-2 mb-2" style="width: 30rem">
      <div class="card-body">
        <h5 class="card-title">Other Details</h5>
        <div class="row">
          <table>
            <tr>
              <td class="left-detail">Roll Number :</td>
              <td class="right-detail">123456789</td>
            </tr>
            <tr>
              <td class="left-detail">Name :</td>
              <td class="right-detail">John Doe</td>
            </tr>
            <tr>
              <td class="left-detail">Branch :</td>
              <td class="right-detail">Computer Science</td>
            </tr>
            <tr>
              <td class="left-detail">Year :</td>
              <td class="right-detail">3rd</td>
            </tr>
            <tr>
              <td class="left-detail">CGPA :</td>
              <td class="right-detail">8.5</td>
            </tr>
            <tr>
              <td class="left-detail">Backlogs :</td>
              <td class="right-detail">0</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3" style="display: flex; justify-content: space-between">
    <div class="card mr-2 mb-2" style="width: 30rem">
      <div class="card-body">
        <h5 class="card-title">Current Education Details</h5>
        <div class="row">
          <table>
            <tr>
              <td class="left-detail">Semester 1 :</td>
              <td class="right-detail">8.5</td>
            </tr>
            <tr>
              <td class="left-detail">Semester 2 :</td>
              <td class="right-detail">8.5</td>
            </tr>
            <tr>
              <td class="left-detail">Semester 3 :</td>
              <td class="right-detail">8.5</td>
            </tr>
            <tr>
              <td class="left-detail">Semester 4 :</td>
              <td class="right-detail">8.5</td>
            </tr>
            <tr>
              <td class="left-detail">Semester 5 :</td>
              <td class="right-detail">8.5</td>
            </tr>
            <tr>
              <td class="left-detail">Semester 6 :</td>
              <td class="right-detail">8.5</td>
            </tr>
            <tr>
              <td class="left-detail">Semester 7 :</td>
              <td class="right-detail"></td>
            </tr>
            <tr>
              <td class="left-detail">Semester 8 :</td>
              <td class="right-detail"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="card mr-2 mb-2" style="width: 30rem">
      <div class="card-body">
        <h5 class="card-title">Past Education Details</h5>
        <div class="row">
          <table>
            <tr>
              <td class="left-detail">Roll Number :</td>
              <td class="right-detail">123456789</td>
            </tr>
            <tr>
              <td class="left-detail">Name :</td>
              <td class="right-detail">John Doe</td>
            </tr>
            <tr>
              <td class="left-detail">Branch :</td>
              <td class="right-detail">Computer Science</td>
            </tr>
            <tr>
              <td class="left-detail">Year :</td>
              <td class="right-detail">3rd</td>
            </tr>
            <tr>
              <td class="left-detail">CGPA :</td>
              <td class="right-detail">8.5</td>
            </tr>
            <tr>
              <td class="left-detail">Backlogs :</td>
              <td class="right-detail">0</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
